.cityList .img {
  width: 2rem;
  height: 1.5rem;
}

.cityList li {
  padding: .1rem 0;
  clear: both;
  overflow: hidden;
}

.cityList .is_promote {
  padding: 0 .1rem;
}

.cityList li .text {
  padding-left: .1rem;
}

.cityList li .title {
  color: #333;
}

.cityList li a>div {
  clear: both;
  overflow: hidden;
}

.cityList li .txt {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  color: #666;
  font-size: .12rem;
  margin-top: .06rem;
}

.cityList li .bigimg {
  width: 7.5rem;
  height: 7.5rem;
}

.ant-tabs-content {
  padding-top: 0.6rem;
}

.ant-tabs-nav .ant-tabs-tab {
  margin: 0 !important;
  width: 33.3% !important;
  text-align: center;
  padding: 0 !important;
  height: .6rem !important;
  line-height: .6rem;
}

.ant-tabs-nav {
  width: 100% !important;
  display: block !important;
}

.ant-tabs-nav .ant-tabs-tab:hover {
  color: #333 !important;
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: #333 !important;
}

.ant-tabs-ink-bar {
  background-color: #222 !important;
}

.ant-tabs-bar {
  margin: 0 !important;
}

.ant-tabs-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: white;
}